# Results of Testing

The test results show the actual outcome of the testing, following the [Test Plan](test-plan.md)

---

## Game Setup and game close

testing what happens when the player runs the game and closes the game

### Test Data To Use

The player will click the run button to play the game and then click on the X button on the top right corner to close the game

### Test Result

https://mywaimeaschool-my.sharepoint.com/:v:/g/personal/snoble_waimea_school_nz/Efpc5stUJuFHtMBjvpjyNhIBfCRlxYTK_Mk-5yg5C0rCnA?e=yZCDio

Comment on test result.

---

## Player Movement

Example test description.

### Test Data Used

Details of test data.

### Test Result

![example.png](screenshots/example.png)

Comment on test result.

---

## Action Button

Example test description.

### Test Data Used

Details of test data.

### Test Result

https://mywaimeaschool-my.sharepoint.com/:v:/g/personal/snoble_waimea_school_nz/EZRFUkys-N5NuNWqhrBylI0BRig2JHyUZ_N8ROfUfeYviQ?e=vFl586

Comment on test result.

---

## Help Button

Example test description.

### Test Data Used

Details of test data.

### Test Result

https://mywaimeaschool-my.sharepoint.com/:v:/g/personal/snoble_waimea_school_nz/EcineLwzEcxPjrCDHuTQBtkBpj4HuK3gBif7kE8XMupJrw?e=ABigoj

Comment on test result.

---

## Player Win

Example test description.

### Test Data Used

Details of test data.

### Test Result

https://mywaimeaschool-my.sharepoint.com/:v:/g/personal/snoble_waimea_school_nz/EWmzyhqHzldPpzd1xgzV0SgBl7A4aiSDjjTlFnKKzufCDg?e=oVBfXR

My test failed so i checked my code and I realised that the one of the items the player picks up is Frostsnap Berries (uppercase b)
but for the player to win they needed Frostsnap berries (lowercase b) i fixed this and did the test again

https://mywaimeaschool-my.sharepoint.com/:v:/g/personal/snoble_waimea_school_nz/Ec6fs4sKoERKuEfFEmAU51kB7huQ752_blSMddrAtZu6xg?e=8F6bpn
I fixed the issue and now it works

---

## Decreasing health and Player Lose

Example test description.

### Test Data Used

Details of test data.

### Test Result

![example.png](screenshots/example.png)

Comment on test result.

---

## Example Test Name

Example test description.

### Test Data Used

Details of test data.

### Test Result

![example.png](screenshots/example.png)

Comment on test result.

---