# Results of Testing

The test results show the actual outcome of the testing, following the [Test Plan](test-plan.md)

---

## Game Setup

Example test description.

### Test Data Used

Details of test data.

### Test Result

![example.png](screenshots/example.png)

Comment on test result.

---

## Player Movement

Example test description.

### Test Data Used

Details of test data.

### Test Result

![example.png](screenshots/example.png)

Comment on test result.

---

## Action Button

Example test description.

### Test Data Used

Details of test data.

### Test Result

https://mywaimeaschool-my.sharepoint.com/:v:/g/personal/snoble_waimea_school_nz/EUCUp1joPklAvl2ZZw3-m6QBb1T3Se0yQl4yjcI4WyD1SA?e=b1RVHm

Comment on test result.

---

## Help Button

Example test description.

### Test Data Used

Details of test data.

### Test Result

![example.png](screenshots/example.png)

Comment on test result.

---

## Player Win

Example test description.

### Test Data Used

Details of test data.

### Test Result

![example.png](screenshots/example.png)

Comment on test result.

---

## Decreasing health and Player Lose

Example test description.

### Test Data Used

Details of test data.

### Test Result

![example.png](screenshots/example.png)

Comment on test result.

---

## Example Test Name

Example test description.

### Test Data Used

Details of test data.

### Test Result

![example.png](screenshots/example.png)

Comment on test result.

---